html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        script(src="https://cdn.tailwindcss.com") 
        link(rel="stylesheet", href="style.css")
    body 
        .grid.grid-cols-2.h-full.text-7xl
            .bg-red-500.grid.justify-end
                p.px-4.py-32 Kristoffersson
            .bg-blue-500
                p.px-4.py-16 Måns
        .grid.h-full